<!--
  Generated template for the Heroes page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>Heroes</ion-title>
  </ion-navbar>

</ion-header> -->

<ion-header>
  <ion-navbar color="primary">
<!--     <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>
      Heroes
    </ion-title>
    <ion-buttons end>
      <button ion-button>
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<!-- <ion-content padding class="login-content" style="background-image: url('{{backimg}}')"> -->
<ion-content >
	<div>
		<img src="img/WarriorV2.png">
	</div>
	<div>
		<img src="img/MysticV2.png">
	</div>
	<!-- <div style="background-image: url('img/HeroWarrior.svg')">
	</div> -->
</ion-content>

<!--  <ion-menu [content]="content">
  <ion-content class="menu-content">
    <div class="profile-pic">
      <img src="img/Profile-Space-01.png">
      <h1> Sam Wise </h1>
    </div>
    <ion-list class="menu-list">
      <button ion-item detail-none *ngFor="let page of pages" (click)=pushPage(page)>
        <ion-icon *ngIf="page.icon" name="{{page.icon}}" item-left></ion-icon>
        {{page.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu> -->
