page-home {

  // stats area
  .stats-area {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
  }

.profile-pic {
    position: absolute;
    background-color: yellow !important;
}

  .menu-inner > ion-header, .menu-inner > ion-content, .menu-inner > ion-footer {
    position: absolute;
    background-color: blue !important;
}

  // bottom navigation buttons
  ion-fab {
    // margin-left: 47px;
    // text-align: center;
    display: block;
    width: 100%;
    margin-bottom: (21rem / 10);
    bottom: 0px;
  }

  .fab-ios {
    background-color: transparent;
  }

  .top-navigation {
    width: (25rem/ 10);
    height:  (25rem/ 10);
    background-color: color($colors, primary);
    padding: 0px;
  }

  .bottom-buttons {
    // width:75%;
    padding-left: (47rem/ 10);
    padding-right:(47rem/ 10);
    display: flex;
    justify-content:space-between;
  }

  // .fab {
  //   // display: inline-block;
  //   // margin-right: 51px;
  //   width:79px;
  //   height:98px;
  // }
  .center, .side {
    background-color: white;
    padding: 0px;
  }

  .center {
    width: (79rem/ 10);
    height: (98rem/ 10);
  }

  .side {
    width: (50rem/ 10);
    height:(50rem/ 10);
  }

}
